a:link, a:visited {
    color:#7F1345;
}
a[name] {
    color:#7F1345;
}
.tab {
    background-color:#7F1345;
}
.bar {
    background-color:#7F1345;
}
.topNav, .top-nav {
    background-color:#7F1345;
}
.bottomNav {
    background-color:#7F1345;
}